<section id="about_me" class="gap-2 lg:px-40 lg:py-20 text-center items-center">
    <%= render partial: "section_header" , locals: {count: 0, title: "About Me" } %>
        <div class="flex flex-col lg:flex-row lg:p-12 items-center">
            <div id="about_card"
                class="w-80 items-center card p-2 shadow-2xl delay-[200ms] duration-[300ms] taos:translate-y-[100px] taos:opacity-0"
                data-taos-offset="100">
                <%= image_tag "otter.png" , class: "rounded-md w-40 h-auto shadow-4xl avatar" %>
                    <div class="card-body items-center text-center font-inter">
                        <div class="flex-col">
                            <h2 class="card-title font-inter">@helpotters</h2>
                        </div>
                        <p>Ruby on Rails Developer</p>
                        <p>Consultant</p>
                        <p>Web Designer</p>
                        <div class="flex-row">
                            <span class="badge badge-accent">Coding</span>
                            <span class="badge badge-accent">Design</span>
                            <span class="badge badge-accent">ADHD</span>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="https://github.com/helpotters">
                            <%= heroicon "command-line" , options: { class: "fill-black dark:fill-white w-8" } %>
                        </a>
                        <a href="https://linkedin.com/in/helpotters">
                            <%= heroicon "briefcase" , options: { class: "fill-black dark:fill-white w-8" } %>
                        </a>
                        <a href="mailto:paullemus@protonmail.com">
                            <%= heroicon "envelope" , options: { class: "fill-black dark:fill-white w-8" } %>
                        </a>
                    </div>
            </div>
            <div id="about_text"
                class="flex-1 px-12 py-4 text-left delay-[300ms] duration-[300ms] taos:translate-y-[100px] taos:opacity-0"
                id="about_text" data-taos-offset="100">
                <p class="mb-5 text-xl font-rubik">
                    I began learning <span class="text-accent-focus">Ruby on
                        Rails</span> for my photography business. However, I realized that I wanted to continue coding.
                    So, <span class="text-secondary-focus">I closed up shop</span> and started teaching myself
                    full-stack web development. I've always been a freelancer, and have since applied that to a handful
                    of coding gigs.
                </p>

                <p class="pt-16 mb-5 text-xl font-rubik">
                    Now, I'm looking for <span class="text-green-400">a full-time position</span> as an intern or junior
                    developer.
                </p>
            </div>
        </div>
</section>
