<a href="#" class="btn lg:btn-wide btn-xs" data-action="click->modal#open">View More</a>
<!-- <button class="btn" onclick="<%= project.id %>.showModal()"></button> -->
<dialog id="<%= project.id %>" class="modal w-screen h-screen text-white" data-action="keydown.esc->modal#close"
  tabindex="0">
  <form method="dialog" class="modal-box w-full flex flex-col">
    <% if project.images.attached? %>
      <div class="carousel snap-x snap-mandatory p-4 space-x-8 bg-neutral rounded-box overflow-x" data-turbo="false">
        <% project.images.each_with_index do |image, i| %>
          <div id="<%= image.id %>" class="carousel-item relative snap-center w-full justify-center rounded-md hover:border-accent border-2 <%= image.id.even? ? "border-primary" : "border-secondary" %>">
            <%= image_tag url_for(image) %>
            <div class="absolute justify-between flex transform -translate-y-1 bottom-0 w-full z-4" data-controller="turbosafe">
              <% unless project.images[i-1].nil? %>
                <a href="#<%= project.images[i - 1].id %>" data-action="click->turbosafe#goto"  class="btn btn-outline btn-primary -mx-4">❮</a>
              <% else %>
                <a href="#<%= project.images[-1].id %>" data-action="click->turbosafe#goto" class="btn btn-outline btn-primary -mx-4">❯</a>
              <% end %>
              <% unless project.images[i+1].nil? %>
                <a href="#<%= project.images[i+1].id %>" data-action="click->turbosafe#goto" class="btn btn-outline btn-secondary -mx-4">❯</a>
              <% else %>
                <a href="#<%= project.images[0].id %>" data-action="click->turbosafe#goto" class="btn btn-outline btn-secondary -mx-4">❯</a>
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
      <% end %>
        <div class="p-4">
          <p class="text-5xl p-2 text-teal-200">
            <%= project.title %>
          </p>
          <article class="prose p-4">
            <% project.fields.each do |field| %>
              <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-200">
                <div class="collapse-title text-xl font-medium">
                  <%= field.title %>
                </div>
                <div class="collapse-content"> 
                  <%= field.body %>
                </div>
              </div>
            <% end %>
          </article>
          <div class="modal-action">
            <button class="btn btn-outline btn-primary -mx-4" data-action="click->modal#close">X</button>
          </div>
        </div>
  </form>
</dialog>
