<div class="card shadow-xl md:p-10 delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="100">
    <div class="card-body">
        <div class="card-title">
            <% unless project.link.empty? %>
                <i class="fa-solid fa-link"></i>
                <a href="<%= project.link %>" target="_blank">
                    <h3 class="text-sm lg:text-xl">
                        <%= project.title %>
                    </h3>
                </a>
                <% else %>
                    <h3 class="text-sm lg:text-xl">
                        <%= project.title %>
                    </h3>
                    <% end %>
                        <a href="#" class="badge px-8">
                            <span class="text-xs lg:text-sm">
                                <%= project.subtitle %>
                            </span>
                        </a>
        </div>
        <% project.fields.each do |field| %>
            <div class="container">
                <p class="text-sm font-medium lg:text-lg">
                    <%= field.title %>
                </p>
                <p class="text-sm lg:text-md">
                    <%= field.body %>
                </p>
            </div>
            <% end %>
    </div>
</div>
