<div class="card shadow-xl text-left md:p-10 delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0"
     data-taos-offset="100"
     data-controller="modal" data-action="keydown.esc->modal#close" data-modal-id-value="<%= project.id %>">
    <div class="card-body">
        <header class="flex flex-col gap-2 py-2">
            <div id="job-titles" class="flex justify-between items-center">
                <h2 class="text-sm lg:text-xl font-bold font-juana text-secondary">
                    <%= project.subtitle %>
                </h2>
                <% unless project.link.empty? %>
                    <a href="<%= project.link %>" class="flex gap-2" target="_blank">
                        <%= heroicon "link" , options: { class: "w-6 fill-black dark:fill-white" } %>
                        <h3 class="italic text-sm lg:text-xl">
                            <%= project.title %>
                        </h3>
                    </a>
                <% else %>
                    <h3 class="italic text-sm lg:text-xl">
                        <%= project.title %>
                    </h3>
                <% end %>
            </div>
            <div id="job-details" class="flex justify-between uppercase tracking-tight text-alt-base italic items-center -my-2">
                <h3 class="text-sm lg:text-md">
                    <%= project.job_type %>
                </h3>
                <h3 class="text-sm lg:text-md">
                    <%= project.start_date&.strftime("%B, %Y") %> -
                    <%= project.end_date ? project.end_date&.strftime("%B, %Y") : "ONGOING" %>
                </h3>
            </div>

        </header>
        <ul class="flex flex-col gap-2 space-y-2 font-inter">
            <% project.fields.each do |field| %>
                <li class="container">
                    <p class="text-sm font-medium underline lg:text-lg">
                        <%= field.title %>
                    </p>
                    <p class="text-sm lg:text-md">
                        <%= field.body %>
                    </p>
                </li>
            <% end %>
            <% if project.thumbnail.attached? %>
                <%= image_tag project.thumbnail.variant(resize_to_limit: [100,100]), class: "rounded-lg w-20 h-20"%>
            <% end %>
            <div class="card-actions" >
                <% unless project.article.nil? || project.article.empty? %>
                <%= link_to "Read", project_path(project.id), data: { turbo: false }, class: "btn btn-secondary btn-sm lg:btn-md font-bold" %>
                <% end %>
            </div>
        </ul>

    </div>
</div>
